.kkpb-clear-div {
	clear: both;
	width: 100%;
}

.kk-naglowek {
	font-size: 14px;
	font-weight: bold;
	margin: 15px 0px;
}

#kkpb-rama,#kkpb-rama-edit {
	margin-top: 20px;
	border: 1px #333 solid;
	height: 20px;
}

.kkpb-ok {
	border: 1px #1e7700 solid;
	background: #eaffe1;
	padding: 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.kkpb-error {
	border: 1px #9f1000 solid;
	background: #ffe4e1;
	padding: 15px;
	margin-bottom: 15px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.kkpb-label {
	display: inline-block;
	font-size: 10px;
	color: #aaa;
}

.kkpb-head-h3 {
	margin: 0;
	padding: 10px 0px;
	cursor: default !important;
}

.kkpb-head-h3 span {
	margin: 0px 10px;
	font-size: 12px;
	cursor: default;
}

.kkpb-small-text {
	font-size: 10px;
}